<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    +  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.jpg' %>
  </head>

  <body>
    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo2.jpg" %>
        <% end %>
      </div>

      <ul>
        <li class="category">Website</li>
        <li><%= link_to("Blog", root_path) %></li>
        <li>About</li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="#"></a>Twitter</li>
        <li><a href="#"></a>Instagram</li>
        <li><a href="https://github.com/youmeiwu"></a>Github</li>
        <li><a href="mailto:smile-wu@hotmail.com"></a>Email</li>
      </ul>

      <p class="sign_in">Admin Login</p>
    </div>

    <div id="main_content">
      <div id="header">
        <p><%= link_to("All Post", posts_path) %></p>
        <div class="buttons">
          <button class="button">
            <%= link_to("New Post", new_post_path) %>
          </button>
          <button class="button">
            <%= link_to("Log Out", '#') %>
          </button>
        </div>
      </div>

      <%= render "common/flashes" %>
      <%= yield %>
    </div>

  </body>
</html>
